*.o
*.dSYM
*.csv
*.out
*.jpg
*.pyc
old/
mnist/
data/
caffe/
grasp/
images/
opencv/
convnet/
decaf/
submission/
cfg/
darknet
.fuse*

# OS Generated #
.DS_Store*
ehthumbs.db
Icon?
Thumbs.db
*.swp
*.swo
*.sw*
*.weight
*.nfs*
__pycache__

datasets
datasets*
datasets/*
checkpoints
checkpoints*
checkpoints/*

runs
runs*
runs/*
log
log*
log/*
